<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated emodel -->
      <package
            uri="org.eclipselabs.emodeling"
            class="org.eclipselabs.emodeling.EmodelingPackage"
            genModel="model/emodel.xcore"/>
   </extension>

</plugin>
